#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.seccion-ejercicio4 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contenido4 {
  text-align: center;
}

.empleado-avatar img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-left: 50px;
}

.empleado-row {
  padding: 15px;
  border-bottom: 1px solid #ccc;
}

.empleado-list {
  border: 1px solid #007bff;
  border-radius: 5px;
  overflow: hidden;
  object-fit: cover;
}

form {
  background: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  margin: 20px auto;
}

form div {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="text"],
input[type="email"] {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input[type="text"]:focus,
input[type="email"]:focus {
  border-color: #007bff;
  outline: none;
}

.boton-enviar {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 4px;
  font-size: 16px;
}

.boton-enviar:hover {
  background-color: #0056b3;
}

.formulario-simple {
  background-color: #888;
  border-radius: 20px;
  padding-top: 15px;
  padding-bottom: 20px;

  & h2 {
    color: white;
  }
}